<h1>{{ title }}
    <button type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#addArticleModal">ADD ARTICLE
    </button>
</h1>
&emsp;
<div class="form-inline my-2 my-lg-0" style="margin-left: 5%;">
    <input class="form-control mr-sm-2"
           type="text"
           placeholder="Search"
           v-model="search_term"
           aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" v-on:click.prevent="getArticles(useLoading=false)">Search</button>
</div>