<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CRUD app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple CRUD app made with the Vue.js and Django (DRF)">
    <meta name="keywords" content="vuejs, django, crudapp, restapi, djangorestframework, drf">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>
    <!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->
    <!-- bootrtap js files -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->
</head>
<body>
<div id="app">
    <div class="container">
        <!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->
        <h1>List of Articles
            <input class="form-control mr-sm-2"
                   v-model="search"
                   type="text"
                   placeholder="Filter articles by title"
                   value="{{ search }}"
                   autofocus>
            <button type="button"
                    class="btn btn-outline-primary btn-sm btn-block"
                    data-toggle="modal"
                    style="margin-top: 5px;"
                    data-target="#addArticleModal">ADD ARTICLE</button>
        </h1>
        <!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Available actions</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="article in articles">
                <th scope="row">${article.id}</th>
                <td>${article.title}</td>
                <td>
                    <button class="btn btn-info btn-sm" @click="showArticle(article.id)">Show</button>
                    <button class="btn btn-outline-secondary btn-sm" @click="getArticle(article.id)">Edit</button>
                    <button class="btn btn-outline-danger btn-sm" @click="deleteArticle(article.id)">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
        <!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->
{% include "preview.html" %}
{% include "modal.html" with id="addArticleModal" title="ADD ARTICLE" func="addArticle" article="newArticleTemplate" %}
{% include "modal.html" with id="editArticleModal" title="EDIT ARTICLE" func="updateArticle" article="currentArticle" %}
        <!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->
        <div class="loading" v-if="loading">Loading&#8230;</div>
    </div>
    <footer v-if="!loading && pages_info.length > 1">
        <ul class="pagination justify-content-center pagination-circle pg-blue pagination-lg">
            <li v-for="info in pages_info" :class="['page-item', { active: page == info.link }]"
                @click="page = info.link">
                <a class="page-link">${info.number}</a>
            </li>
        </ul>
    </footer>
</div>
<br class="clear"/>
<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->
<!-- vue.js files -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
<script src="{% static 'js/main.js' %}"></script>
<script type="text/javascript">Vue.http.headers.common['X-CSRFToken'] = "{{ csrf_token }}";</script>
<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->
</body>
</html>
